.list {
  width: 100%;
  margin: 1.45rem 0;
  .listItem {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f3f4f6;
    box-shadow: 0px 0px 15px 1px rgba(117, 117, 117, 0.25);
    transition: 0.2s ease-out;

    a {
      text-decoration: none;
      color: inherit;
    }

    span {
      font-size: 0.75rem;
    }

    p {
      font-weight: 500;
      margin: 0.5rem 0;
      font-size: 1rem;
    }

    h3 {
      transition: 0.15s ease-out;
    }
  }

  .listItem:hover {
    background-color: darken($color: #f3f4f6, $amount: 3%);
  }
}
