.container {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  flex-flow: row wrap;
  .trailsMainTextContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .trailMainText {
    font-family: 'Gilroy-ExtraBold';
    overflow: hidden;
    margin-right: 5px;
    padding-right: 8px;
    height: 110px;
    line-height: 6.5rem;
    font-weight: 800;
    letter-spacing: -10px;
    font-size: 5rem;
    will-change: transform, opacity;
  }
}
