.container {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  flex-flow: row wrap;
  .trailsMainTextContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .trailMainText {
    font-family: 'Gilroy-ExtraBold', -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    overflow: hidden;
    margin-right: 5px;
    padding-right: 8px;
    height: 110px;
    line-height: 6.5rem;
    font-weight: 800;
    letter-spacing: -10px;
    will-change: transform, opacity;
  }
}

@media only screen and (max-width: 500px) {
  .trailMainText {
    height: 75px;
  }
}
