.container {
  height: 100vh;
  background-color: #fbf5e4;
  position: relative;
  padding: 50px 0;

  .contentContainer {
    position: absolute;
    top: 25%;
    width: 100%;
    display: grid;
    grid-template-rows: 100% 100% 100%;
    // grid-template-columns: 100%;
    row-gap: 15px;

    .rolesContainer {
      display: flex;
      height: 150px;
      align-items: center;
      position: relative;

      .roles {
        position: absolute;
        text-transform: uppercase;
        font-size: 6rem;
        font-style: normal;
        right: 0;
        font-weight: 300;
        margin-bottom: 0;
        width: max-content;
        height: max-content;
        padding: 10px;
        letter-spacing: -0.05em;
      }

      &:first-of-type {
        border-bottom: 1px solid #000;
      }

      &:nth-of-type(2) {
        border-bottom: 1px solid #000;

        .roles {
          right: -60px;
        }
      }
    }
  }
}
