@font-face {
  font-family: "horizon";
  src: url('/horizon/horizon.ttf') format('truetype');
}

@font-face {
  font-family: "horizon-outlined";
  src: url('/horizon/horizon_outlined.tff') format('truetype');
}

@font-face {
  font-family: "HelveticaNeue-regular";
  src: url('/helvetica/HelveticaNeue-01.ttf') format('truetype');
}

@font-face {
  font-family: "HelveticaNeue-light";
  src: url('/helvetica/HelveticaNeue-Light-08.ttf') format('truetype');
}

@font-face {
  font-family: "HelveticaNeue-medium";
  src: url('/helvetica/HelveticaNeue-Medium-11.ttf') format('truetype');
}

@font-face {
  font-family: "HelveticaNeue-thin";
  src: url('/helvetica/HelveticaNeue-Thin-13.ttf') format('truetype');
}
