.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;

  .title {
    position: absolute;
    text-align: center;
    font-size: 10vmax;
    z-index: 1;
    opacity: 1;
    color: #424242;
  }

  .image {
    width: 45%;
  }

  .location {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;

    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 1.75vmax;
    letter-spacing: -0.05em;
  }
}
