.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbf5e4;

  .title {
    position: absolute;
    text-align: center;
    font-size: 145px;
    z-index: 1;
    opacity: 1;
    color: #424242;
  }

  .image {
    position: absolute;
    top: 12.5%;
    width: 35%;
  }
}
