.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  background: #f3f4f6;
  min-height: 500px;
  border-radius: 5px;
  cursor: pointer;
  will-change: width, height;
  margin-bottom: 1rem;
}

.item {
  width: 100%;
  height: 100%;
  background: #f3f4f6;
  box-shadow: 0px 0px 15px 1px rgba(117, 117, 117, 0.25);
  border-radius: 5px;
  padding: 1rem;
  font-size: 0.75rem;
  transition: 0.2s ease-out;
  will-change: transform, opacity;
  a {
    color: inherit;
    text-decoration: none;
    p {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1rem;
      margin: 0.5rem 0;
    }
  }
}

.item:hover {
  background-color: darken($color: #f3f4f6, $amount: 3%);
}

@media only screen and (max-width: 980px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
